<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rodenttube</title>
</head>
	     <body>
        <img src="images/rodenttube banner.png" class="col-12 d-lg-none" style="height: 125px;" alt="logo">
        <img src="images/rodenttube banner bs.png" class="d-none d-lg-block col-lg-6" style="height: 125px;" alt="logo">
        <img src="images/fcknaagdierlogo.jpg	" alt="logo" width="100" height="100">
        <div style="background-color: #654321;">
        <p style="text-align: center; font-weight: bold; font-size: 30px;" id="title"></p>
        <p style="text-align: center; font-weight:  bold; font-size: 30px;" id="author"></p>
        </div>
<div>
</div>
<ng-component>
   *ngFor="let arrays of song">
   
   <br>
      <audio id="audio" controls="controls" autoplay>
<source id="audioSource" src="">
Your browser does not support the audio format.
</audio>
</ng-component>
    <div id="song-box">
      <br>
      <audio id="audio" controls="controls" autoplay>
<source id="audioSource" src="">
Your browser does not support the audio format.
</audio>
      
      <div class="links">
          <button id="new-song">Volgende</button>
      </div>
  </div> 
  </body>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
