<!-- This is the main page of the website. -->
	     <body>
        <img src="../assets/images/rodenttube banner.png" class="logo" style="height: 125px;" alt="logo">
        <img src="../assets/images/Rodenttube logo.png" alt="logo" width="100" height="100">
        <div style="background-color: #654321;">
        <p style="text-align: center; font-weight: bold; font-size: 30px;" id="title"></p>
        <p style="text-align: center; font-weight:  bold; font-size: 30px;" id="author"></p>
        </div>
<div>
</div>
    <div id="song-box">
      <br>
      <h2 id="title"></h2>
      <h2 id="author"></h2>
      
      <div class="links">
          <button id="new-song">Volgende</button>
          <button id="pause">Pause</button>
      </div>
  </div> 
<router-outlet></router-outlet>
